.layout {
  background-color: rgb(233, 236, 239);
  color: rgb(33, 37, 41);
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar { 
  grid-area: sidebar;
  position: sticky;
  top: 0;
  width: 90%;
  height: fit-content;
}

.sidebar button {
  display: block;
  width: 70%;
  border-radius: 5px;
  text-align: center;
}

.sidebar li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  gap: 10px;
  text-align: left;
}

.body { 
  grid-area: body;
  width: 90%;
}

.intro {
  margin-left: 40px;
}

.skills {
  margin-left: 100px;;
}

.skills li {
  gap: 5px;
  margin-bottom: 5px;
  width: 50%;
  text-align: center;
  border: 1.25px solid rgb(40, 40, 40);
}

.skills li:hover {
  transform: scale(1.1);
	transition: transform 0.5s;
}

.picGallery img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.picGallery img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  border-radius: 5px;
}

a {
  color: rgb(1, 73, 124);
  text-decoration: none;
}

a:hover {
  color: rgb(97, 165, 194);
  text-decoration: underline;
}

.goals {
  margin-left: 40px;
  margin-top: 40px;
}

.timeline {
  position: relative;
  padding-left: 40px;
  margin-top: 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: rgb(1, 73, 124);
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 30px;
}

.timeline-marker {
  position: absolute;
  left: -35px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(1, 73, 124);
  border: 3px solid rgb(233, 236, 239);
}

.timeline-content h5 {
  color: rgb(1, 73, 124);
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-content p {
  margin: 0;
  line-height: 1.6;
}
