.layout {
  background-color: rgb(233, 236, 239);
  color: rgb(33, 37, 41);
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar { 
  grid-area: sidebar;
  padding: 10px;
}

nav.sidebar li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  gap: 10px;
  text-align: left;
}

.body { 
  grid-area: body;
}

a {
  color: rgb(1, 73, 124);
  text-decoration: none;
}

a:hover {
  color: rgb(97, 165, 194);
  text-decoration: underline;
}

