/* have to use rgb values for coloring to work with JS */
/* if its a solid color you can use whatever you want just to be consistent */

/* Important RGB Values to be consistent with and organized */
/* if you want to add more or change just make sure to update here and in the code accordingly */

/* colors used: */
/* white rgb value is (255, 255, 255) */
/* black rgb value is (0, 0, 0) */
/* darker grey rgb value is (20, 20, 20) */
/* dark grey rgb value is (40, 40, 40) */
/* light grey rgb value is (240, 240, 240) */

header {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

#navbar {
    background-color: rgb(240, 240, 240);
	}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding-top: 56px;
}

.card:hover {
      transform: scale(1.12);
	  transition: transform 0.4s;
}

.section-padding {
	padding: 80px 0;
}

h1, h2, h3 {
	font-weight: 600;
}

.team-member img {
	height: 300px;
	object-fit: cover;
}

#contact {
	background-color: rgb(240, 240, 240);
	color: rgb(0, 0, 0);
}

footer {
	background: rgb(255, 255, 255);
}
